@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-block {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
  }
  
  .popup-content {
    display:
  